body
{
	font-family: cairo;
}
.content-page 
{
	margin-right: 0px;
}
.footer
{
	left: 0;
    right: 0;
}
.navbar-custom
{
	background-color: rgb(244, 100, 89);
}
.button-menu-mobile , .topbar .topbar-left
{
		background-color: rgb(244, 100, 89);
}
.icon_image
{
  width: 44px;
  background-color: white;
  border-radius: 32px;
  margin: 10px;
  height: 44px;
}
.rounded-circle
{
	background-color: white;
}
.text-muted
{
	  font-size: 19px;
      text-align: center;
      color: black !important;
}
.counter 
{
	 font-size: 20px;
     text-align: center;
}
.text-pink
{
	text-align: center;
}
.morris-hover.morris-default-style
{
	position: absolute;
}
.container_datatable
{
	  background-color: white;
	  padding: 27px;
	  border: 1px solid lightgray;
	  box-shadow: 1px 1px 4px 1px lightgray;
}
.dataTable>thead>tr>th
{
  background-color: rgb(244, 100, 89);
  color: white;
  border-color: #FFFEFE;
}
.button_add_new_product
{
	float: left;
}
.button_container
{
	width: 100%;
	display: block;
	text-align: left;

}
.error_alert
{
	line-height: 3em;
  font-size: 15px;
}
.go_back
{
	  float: right;
	  padding-right: 24px;
	  color: red;
	  font-weight: 500;
}
.container-button-cpanel
{
    padding: 38px;
    padding-bottom: 2px;
}
.show_order_in_single
{
	float: left;
}
.img-single
{
	width: 100%;
    height: 200px;
}
.container_datatable_reports
{
	max-height: 400px;
	overflow:auto;
	//direction: ltr;
}
.heading-reports
{
  text-align: right;
  line-height: 2em;
  font-size: 16px;
  float: right;
  background-color: rgb(95, 190, 170);
  color: white;
  padding: 4px;
  border-radius: 12px;
}
.container-diagrame
{
	background-color: white;
	border:1px solid #eee;
	padding: 15px;
}
.card-img-overlay
{
    background-color: #211e1d5c;
    text-align: center;
    font-size: 20px;	
    padding-top: 100px;
}
.card-inverse>.card-img
{
	height: 280px;
	min-height: 280px;
	max-height: 280px;
}
.bg-warning , .btn-success , .btn-dark , .badge-success , .btn-primary , .bg-info , .bg-success , .bg-dark , .heading-reports
{
	  background-color: #F46459 !important;
	  border:1px solid  #F46459 !important;
}

.text-muted , .counter
{
	color:white !important;
}
.btn-info 
{
	  background-color: #FFFD30;
  border: 1px solid #FFFD30;
  color: rgb(244, 100, 89);
}
.bg-warning>hr 
{
	width: 70% !important;
    float: right !important;
}
.percentage_value
{
	font-size: 18px;
	color: white;
}
.badge-info {
  background-color: #F46459;
}
.table-active>td , .table-active>th , .table-info>td , .table-info>th , .table-warning>td , .table-warning>th , .table-danger>td , .table-danger>th
{
	  background-color: rgba(252, 238, 151, 1);
}
