/*
Author       : Masum Billah.
Template Name: Voyage - Tour & Travel Agency Template
Version      : 1.0
*/


/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. START BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START SERVICE DESIGN
    05. START WHY CHOOSE DESIGN
    06. START SPECIAL PACKAGE DESIGN
    07. START TOP DEALS DESIGN
    08. START DEALS & DISCOUNT DESIGN
    09. START GALLERY DESIGN
    10. START BLOG DESIGN
    11. START TESTIMONIAL DESIGN
    12. START COMPANY PARTNER LOGO
    13. START CONTACT DESIGN
    14. START FOOTER DESIGN
  =============================================================*/


/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

html,
body {
    color: #727272;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    background: #fff;
}

body {
    font-family: Cairo
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: 600;
    line-height: normal;
}

a {
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

a,
a:hover,
a:focus {
    color: #727272;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}


/*START PRELOADER DESIGN*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 8px solid #f9461d;
    border-right: 8px solid #f9461d;
    border-bottom: 8px solid #f9461d;
    border-left: 8px solid #fff;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.status-mes h4 {
    color: #f7f7f7;
    position: relative;
    font-size: 24px;
    margin-top: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.no-padding {
    padding: 0
}


/*END PRELOADER DESIGN*/

.section-padding {
    padding: 60px 0
}


/*START SECTION TITLE DESIGN*/

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 45px;
    font-weight: 300;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width:480px) {
    .section-title h2 {
        font-size: 30px;
    }
}

.section-title span {
    background: #f9461d;
    height: 7px;
    width: 7px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
}

.section-title span:before {
    position: absolute;
    content: '';
    background: #f9461d;
    height: 7px;
    width: 7px;
    left: 13px;
    top: 0;
    border-radius: 50%;
}

.section-title span:after {
    position: absolute;
    content: '';
    background: #f9461d;
    height: 7px;
    width: 7px;
    right: 13px;
    top: 0;
    border-radius: 50%;
}

.section-title-white {
    color: #fff;
    position: relative;
}

.section-title p {
    padding: 0 10px;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width:480px) {
    .section-title p {
        padding: 0 10px;
        width: 90%;
        margin: auto;
    }
}


/*END SECTION TITLE DESIGN*/


/*START SCROLL TO TOP*/

.topcontrol {
    background: #e64d3d none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    line-height: 45px;
    opacity: 1;
    position: fixed;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 50px;
}

.topcontrol:hover {
    background: #fff;
    color: #e64d3d;
}

.topcontrol_angel {
    background: #e64d3d none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    line-height: 45px;
    opacity: 1;
    position: fixed;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 50px;
}

.topcontrol_angel:hover {
    background: #fff;
    color: #e64d3d;
}


/*END SCROLL TO TOP*/


/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 02.START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/

.bg-faded {
    background-color: transparent;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width:480px) {
    .bg-faded {
        background: rgba(0, 0, 0, 0.9);
    }
}

@media (max-width:667px) {
    .navbar-toggleable-md>.container {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
    .mean-container a.meanmenu-reveal {
        top: 7px;
    }
}

@media (max-width:767px) {
    .mean-container .mean-nav {
        margin-top: 90px !important;
    }
}

.navbar-brand img {
    width: 150px;
}

.navbar-light .navbar-nav>li {
    position: relative;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav>li a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 7px 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-light .navbar-nav>li a:focus,
.navbar-light .navbar-nav>li a:hover {
    color: #f9461d !important;
}

.navbar-light .navbar-nav li.active>a,
.navbar-light .navbar-nav>li.active,
.navbar-light .navbar-nav>li.open,
.navbar-light .navbar-nav .open>a {
    color: #f9461d !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    border-radius: 0px;
}

.navbar-light .navbar-toggler {
    float: right;
    margin: 14px;
}

.navbar-light .navbar-toggler i {
    color: #666 !important;
}

.site-navigation {
    border-radius: 0px;
}

.navbar-fixed {
    z-index: 999;
    position: fixed;
    opacity: .98;
    width: 100%;
    padding: 10px 0;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.9);
}

.mean-container a.meanmenu-reveal {
    right: 12% !important;
}


/*-------------------------------
# dropdwon menu
--------------------------------*/

#navigation ul li ul,
#navigation ul li ul li ul {
    background: #fff;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.08);
    left: 0;
    list-style: outside none none;
    margin: 0;
    opacity: 0;
    padding: 18px 15px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 999;
}

#navigation ul li ul li {
    position: relative;
}

#navigation ul li ul li ul {
    top: 0;
    right: auto;
    left: 205px;
}

#navigation ul li:hover ul,
#navigation ul li ul li:hover>ul {
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

#navigation ul li ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#navigation ul li ul li a {
    color: #777 !important;
    display: block;
    font-size: 11px;
    line-height: 30px;
    font-weight: 300;
    padding: 5px 12px;
    position: relative;
    transition: all 0.3s ease 0s !important;
    visibility: inherit !important;
    opacity: inherit !important;
}

#navigation ul li:hover ul.sub-menu li a:hover {
    color: #fff !important;
    background: #f9461d;
    text-decoration: none;
}

@media only screen and (max-width:767px) {
    .navbar-default {
        padding: 10px !important;
    }
    .navbar-collapse {
        margin-top: 15px;
    }
    #navigation ul li a {
        position: inherit;
        color: #333;
    }
    #navigation ul li ul,
    #navigation ul li ul li ul {
        opacity: 1;
        position: inherit;
        top: 0;
        transition: all 0.3s ease 0s;
        z-index: 1;
        visibility: visible;
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.05);
        padding: 15px;
        left: 0;
        background: #f5f5f5;
        list-style: none;
        width: 100%;
    }
    #navigation ul li ul.sub-menu li {
        z-index: 1;
    }
    #navigation ul li:hover ul.sub-menu {
        top: 0;
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }
}

@media only screen and (max-width:767px) {
    .hero-text h2 {
        font-size: 37px !important
    }
    .tab-content {
        padding: 0px !important
    }
    .signin {
        padding: 0!important;
    }
}


/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/


/* single_home_slide */

.header-head {
    height: 570px;
}

.slide_overlay {
    /*background: rgba(0,0,0,0.6);*/
    height: 100%;
    width: 100%;
}

.home-slider button.slick-arrow {
    z-index: 1;
    line-height: 50px;
    background: transparent;
}

.home-slider .slick-prev:before,
.home-slider .slick-next:before {
    color: #f9461d;
    font-size: 35px;
}

.home-slider button.slick-prev {
    left: 50px;
}

.home-slider button.slick-next {
    right: 50px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.slider-info {
    position: absolute;
    top: 32%;
    width: 100%;
}

.slider-info h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-info p {
    color: #fff;
    margin-bottom: 25px;
}

.btn-home-bg {
    background: #fff !important;
    border: 2px solid #e64d3d;
    border-radius: 10px;
    color: #e64d3d;
    font-size: 13px;
    padding: 8px 30px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-size: 22px;
    margin-right: 20px
}

form label,
form button {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    color: #e64d3d;
    transition: all 0.3s ease 0s;
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    padding: 15px 15px;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

form .login {
    padding: 5px 15px;
    border-radius: 15px
}

form a {
    color: #e64d3d
}

form a:hover {
    color: #e64d3d;
    text-decoration: underline;
}

form input {
    border: 1px solid #e64d3d !important;
    border-radius: 13px !important
}

.home_parallax {
    height: 700px;
    position: relative;
}

.home_parallax:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    left: 0;
    top: 0;
}

.hero-text {
    position: relative;
    top: 2rem;
    padding-left: 8%;
}

.hero-text h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-text h2 span {
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0;
}

@media only screen and (max-width:480px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width:320px) {
    .slider-info h1 {
        font-size: 30px;
    }
}

.hero-text p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 35px;
}

@media only screen and (max-width:480px) {
    .hero-text p {
        color: #fff;
        margin: auto;
        width: 90%;
        margin-bottom: 25px;
    }
}

.home_video {
    height: 750px;
    position: relative;
}

.home_video:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    left: 0;
    top: 0;
}

.html-video {
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-caption {
    position: absolute;
    top: 33%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

video {
    min-width: 100%;
}

@media only screen and (max-width:820px) {
    .home-slider button.slick-arrow {
        display: none !important;
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 04.START SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/

.our_services {
    padding-top: 50px;
    border-radius: 20px !important;
}

.service {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 40px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.service .icon {
    background: #f9461d;
    border-radius: 50%;
    color: #fff;
    font-size: 29px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: #e64d3d 1px 1px, #e64d3d 2px 2px, #e64d3d 3px 3px, #e64d3d 4px 4px, #e64d3d 5px 5px, #e64d3d 6px 6px, #e64d3d 7px 7px, #e64d3d 8px 8px, #e64d3d 9px 9px, #e64d3d 10px 10px, #e64d3d 11px 11px, #e64d3d 12px 12px, #e64d3d 13px 13px, #e64d3d 14px 14px, #e64d3d 15px 15px, #e64d3d 16px 16px, #e64d3d 17px 17px, #e64d3d 18px 18px, #e64d3d 19px 19px, #e64d3d 20px 20px, #e64d3d 21px 21px, #e64d3d 22px 22px, #e64d3d 23px 23px, #e64d3d 24px 24px, #e64d3d 25px 25px, #e64d3d 26px 26px, #e64d3d 27px 27px, #e64d3d 28px 28px, #e64d3d 29px 29px, #e64d3d 30px 30px, #e64d3d 31px 31px, #e64d3d 32px 32px, #e64d3d 33px 33px, #e64d3d 34px 34px, #e64d3d 35px 35px, #e64d3d 36px 36px, #e64d3d 37px 37px, #e64d3d 38px 38px, #e64d3d 39px 39px, #e64d3d 40px 40px, #e64d3d 41px 41px, #e64d3d 42px 42px, #e64d3d 43px 43px, #e64d3d 44px 44px, #e64d3d 45px 45px, #e64d3d 46px 46px, #e64d3d 47px 47px, #e64d3d 48px 48px, #e64d3d 49px 49px, #e64d3d 50px 50px, #e64d3d 51px 51px, #e64d3d 52px 52px, #e64d3d 53px 53px, #e64d3d 54px 54px, #e64d3d 55px 55px, #e64d3d 56px 56px, #e64d3d 57px 57px, #e64d3d 58px 58px, #e64d3d 59px 59px, #e64d3d 60px 60px, #e64d3d 61px 61px, #e64d3d 62px 62px, #e64d3d 63px 63px, #e64d3d 64px 64px, #e64d3d 65px 65px, #e64d3d 66px 66px, #e64d3d 67px 67px, #e64d3d 68px 68px, #e64d3d 69px 69px, #e64d3d 70px 70px, #e64d3d 71px 71px, #e64d3d 72px 72px, #e64d3d 73px 73px, #e64d3d 74px 74px, #e64d3d 75px 75px, #e64d3d 76px 76px, #e64d3d 77px 77px, #e64d3d 78px 78px, #e64d3d 79px 79px, #e64d3d 80px 80px, #e64d3d 81px 81px, #e64d3d 82px 82px, #e64d3d 83px 83px, #e64d3d 84px 84px, #e64d3d 85px 85px, #e64d3d 86px 86px, #e64d3d 87px 87px, #e64d3d 88px 88px, #e64d3d 89px 89px, #e64d3d 90px 90px, #e64d3d 91px 91px, #e64d3d 92px 92px, #e64d3d 93px 93px, #e64d3d 94px 94px, #e64d3d 95px 95px, #e64d3d 96px 96px, #e64d3d 97px 97px, #e64d3d 98px 98px, #e64d3d 99px 99px, #e64d3d 40px 100px;
    overflow: hidden;
}

.service h4 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.service h4 a {
    color: #fff;
    outline: 0;
    text-decoration: none;
}

.service p {
    height: 150px;
}


/*
* ----------------------------------------------------------------------------------------
* 04.END SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
 * ----------------------------------------------------------------------------------------
 * 05.START WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/

.gray-section {
    background-image: linear-gradient(120deg, #eef1f2, #fff);
}

.why_choose {
    position: relative;
}

.single-choose {
    margin-bottom: 40px;
}

.single-choose i {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #f9461d;
    font-size: 29px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 80px;
}

.single-choose h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: capitalize;
}

.mt-40 {
    margin-top: 40px;
}


/*START COUNTER*/

.counter_feature {
    padding-top: 60px;
}

.counter_title h1 {
    color: #fff;
    margin-top: 90px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width:768px) {
    .counter_title h1 {
        margin-top: 0px;
        margin-bottom: 60px;
    }
}

.single-project-complete {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.brnone {
    border-right: 0px;
}

@media only screen and (max-width:768px) {
    .single-project-complete {
        margin-bottom: 30px;
    }
}

.single-project-complete h2 {
    font-size: 45px;
    font-weight: 600;
    color: #f9461d;
}

.single-project-complete h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 0;
}

.why-choose-img {
    position: relative;
}

.why-choose-img img {
    box-shadow: 0 16px 50px rgba(13, 41, 51, 0.30);
    border-radius: 10px;
}

.why-choose-img .thumb-1 {
    position: absolute;
    top: 6%;
    left: 10px;
}

.why-choose-img .thumb-2 {
    position: absolute;
    bottom: 4%;
    right: 10px;
}


/*END COUNTER*/


/*
 * ----------------------------------------------------------------------------------------
 * 05.END WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/


/*
 * ----------------------------------------------------------------------------------------
 *  06.START SPECIAL PACKAGE DESIGN
 * ----------------------------------------------------------------------------------------
*/

.single_package {
    margin: 0 15px 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:768px) {
    .single_package {
        margin-bottom: 40px
    }
}

.single_package .package-hover {
    padding: 5px 20px 10px;
}

.package-hover i {
    color: #fec42d;
}

.team .position-center-center {
    width: 100%;
    padding: 0 20px;
}

.single_package img {
    width: 100%;
    position: relative;
}

.pack_price {
    position: absolute;
    top: 0px;
    left: 0;
    background: #f9461d;
    color: #fff;
    padding: 4px 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 13px;
}

.single_package h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-transform: capitalize;
    font-weight: 600;
}

.single_package .time_zone {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
    color: #333;
    margin-bottom: 12px;
}

.package-name {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
}

.pack_image {
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.pack_image:before,
.single_gallery:before,
.blog_image:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    opacity: 0;
    transition: .5s;
}

.gallery_enlarge_icon,
.pack_image .btn-bg {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
}

.pack_image .btn-bg {
    color: #fff;
    font-size: 13px;
    background: #f9461d;
    border-radius: 30px;
    padding: 5px 20px;
}

.single_package:hover .btn-bg,
.single_gallery:hover .gallery_enlarge_icon {
    opacity: 1;
}

.btn-bg:hover,
.btn-bg:focus,
.single-deal figure p a:hover,
.single-deal figure p a:focus {
    background: #e1330b;
    color: #fff;
}

.single_package:hover .pack_image:before,
.single_gallery:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
}

.owl-theme .owl-controls .owl-buttons div,
.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    background: #f9461d;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    opacity: .8;
}

.slick-arrow:hover,
.slick-arrow:focus {
    opacity: 1;
}


/*
 * ----------------------------------------------------------------------------------------
 * 06.END SPECIAL PACKAGE DESIGN
 * ----------------------------------------------------------------------------------------
*/


/*
 * ----------------------------------------------------------------------------------------
 * 07.START TOP DEALS DESIGN
 * ----------------------------------------------------------------------------------------
 */

.padding_0 {
    padding: 0;
}

.single-deal figure {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.single-deal figure img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0px;
}

.single-deal figure figcaption {
    padding: 20px;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.single-deal figure figcaption,
.single-deal figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-deal figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.single-deal figure h4 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.single-deal figure h4,
.single-deal figure p {
    margin: 0
}

.single-deal figure p {
    font-size: 16px;
    letter-spacing: 1px;
}

.single-deal figure p a {
    background: #f9461d;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    padding: 5px 20px;
    display: inline-block;
}

figure.effect-sadie figcaption:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    -webkit-filter: alpha(opacity=0);
}

figure.effect-sadie h4 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    left: 20%;
    letter-spacing: 1px;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0px);
    transform: translate3d(0px, -50%, 0px);
    -webkit-transition: -webkit-transform 0.35s ease 0s, color 0.35s ease 0s;
    transition: transform 0.35s ease 0s, color 0.35s ease 0s;
    width: 60%;
    filter: alpha(opacity=0);
}

@media only screen and (max-width:768px) {
    figure.effect-sadie h4 {
        font-size: 12px
    }
}

@media only screen and (max-width:480px) {
    figure.effect-sadie h4 {
        font-size: 18px
    }
}

@media only screen and (max-width:320px) {
    figure.effect-sadie h4 {
        font-size: 14px
    }
}

figure.effect-sadie figcaption:before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-sadie:hover h4 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-sadie:hover figcaption:before,
figure.effect-sadie:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*
 * ----------------------------------------------------------------------------------------
 * 07.END TOP DEALS DESIGN
 * ----------------------------------------------------------------------------------------
 */


/*
* ----------------------------------------------------------------------------------------
* 08.START DEALS & DISCOUNT DESIGN
* ----------------------------------------------------------------------------------------
*/

.tour_details .tour_slider {
    margin-bottom: 20px;
}

.related-deal {
    padding-bottom: 0;
}

.tour_duration {
    font-weight: 600;
    color: #f9461d;
}

.tour_slider .slick-prev,
.tour_slider .slick-next {
    z-index: 1;
    line-height: 50px;
}

.tour_slider .slick-prev {
    left: 20px;
}

.tour_slider .slick-next {
    right: 20px;
}


/*END SINGLE TOUR DETAILS*/


/*
* ----------------------------------------------------------------------------------------
* 08.END DEALS & DISCOUNT DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 09.START GALLERY DESIGN
* ----------------------------------------------------------------------------------------
*/

.single_gallery {
    position: relative;
    margin: 0 15px;
}

.single_gallery h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 99;
    font-size: 12px;
    background: #f9461d;
    padding: 3px 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.gallery_enlarge_icon {
    width: 40px;
    height: 40px;
    line-height: 45px;
    color: #fff;
    background: #f9461d;
    border-radius: 50%;
    text-align: center;
}

.gallery_enlarge_icon:hover {
    background: #e1330b;
    color: #fff;
}

.single_gallery img {
    max-width: 100%;
    height: auto;
    border: inherit !important;
}

.our_gallery .owl-controls .owl-buttons div {
    background: #f9461d;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 1px solid #f9461d;
    opacity: .8;
    transition: .5s;
    color: #fff;
}

.our_gallery .owl-controls .owl-buttons div:hover,
.our_gallery .owl-controls .owl-buttons div:focus {
    background: #fff;
    color: #202020;
}


/*
* ----------------------------------------------------------------------------------------
* 09.END GALLERY DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
 * ----------------------------------------------------------------------------------------
 * 10.START BLOG DESIGN
 * ----------------------------------------------------------------------------------------
 */

.blog_section {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
}

.single_blog {
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post_date {
    background: #f9461d;
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px 10px 0 0;
    z-index: 99;
    border-radius: 0px;
    font-weight: 600;
}

.post_date a {
    color: #fff;
}

.blog-text {
    padding: 5px 20px 10px;
}

.single_blog h4 a {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333;
}

.single_blog h4 a {
    transition: .5s;
}

.single_blog h4 a:hover {
    color: #f9461d;
}

.blog_image {
    position: relative;
    margin-bottom: 15px;
}

.single_blog:hover .blog_image:before {
    opacity: 1;
}

.comment-box {
    padding: 0 !important;
}


/*END BLOG SINGLE PAGE DESIGN*/


/*START BLOG SIDEBAR*/

.blog_sidebar_title {
    margin-bottom: 25px;
}

.search input {
    border: 1px solid #eee;
    border-radius: 30px;
    box-shadow: none;
    color: #333;
    height: 45px;
}

.search input:hover,
.search input:focus {
    border: 1px solid #f9461d;
    box-shadow: none;
}

.search,
.video_post,
.categories {
    margin-bottom: 30px
}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories ul li a {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0;
    text-transform: uppercase;
}

.categories ul li a:hover {
    color: #f9461d
}

.categories ul li a i {
    margin-right: 10px
}

.video_post iframe {
    width: 100%;
    height: 220px;
    border: medium none;
}

.tag a {
    margin-bottom: 10px;
    margin-right: 5px;
}

.btn-tag-bg {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 30px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    outline: medium none;
    padding: 15px 27px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}

.btn-tag-bg:hover,
.btn-tag-bg:focus {
    background: #f9461d;
    border: 1px solid #f9461d;
    color: #fff;
}


/*END BLOG SIDEBAR*/


/*
 * ----------------------------------------------------------------------------------------
 * 10.END BLOG DESIGN
 * ----------------------------------------------------------------------------------------
 */


/*
 * ----------------------------------------------------------------------------------------
 * 11.START TESTIMONIAL DESIGN
 * ----------------------------------------------------------------------------------------
*/

.testimonial-demo {
    background: #eef1f2;
}

#testimonial-slider {
    background: #fff;
}

.testimonial-demo .slick-prev.slick-arrow,
.testimonial-demo .slick-next.slick-arrow {
    line-height: 50px;
    z-index: 1;
}

.testimonial-demo .slick-prev.slick-arrow {
    left: -100px;
}

.testimonial-demo .slick-next.slick-arrow {
    right: -100px;
}

.testimonial .testimonial-content {
    padding: 50px 40px;
    background: #fff;
    position: relative;
}

.testimonial .description {
    font-size: 15px;
    color: #8a8a8a;
    margin: 15px 0 10px;
}

.testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #f9461d;
}

.test-rating {
    color: #FFC000;
    font-size: 16px;
}

.testimonial img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
}


/*
 * ----------------------------------------------------------------------------------------
 * 11.END TESTIMONIAL DESIGN
 * ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 12.START COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/

.partner-logo {
    position: relative;
    padding: 100px 0;
}

.partner-logo:before {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(34, 38, 75, 0.1), rgba(34, 38, 75, 0.5)) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.partner {
    text-align: center
}

.partner.owl-theme .owl-controls {
    display: none !important;
}

.owl-carousel .owl-item img {
    border: 1px solid #eee;
    display: inline-block;
    width: auto;
}


/*
* ----------------------------------------------------------------------------------------
*  12.END COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 13.START CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/

.contact_area {
    background: #eef1f2;
}

.contact_address {
    margin-bottom: 30px;
}

.contact_address i {
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: #f9461d;
    color: #fff;
    border-radius: 50%;
    font-size: 19px;
    margin-bottom: 15px;
}

.contact {
    background: #fff;
    padding: 50px;
    box-shadow: 0 0 35px #ddd;
    border-radius: 10px;
}

.contact-form {
    font-size: 14px;
}

.contact input {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    color: #333;
    height: 45px;
    padding: 10px;
}

.contact textarea {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px;
    color: #333;
    height: 200px;
}

.contact input:focus {
    border-color: currentcolor currentcolor #f9461d;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}

.contact textarea:focus {
    border-color: currentcolor currentcolor #f9461d;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}

.success {
    background: #fff none repeat scroll 0 0;
    color: #42c0d9;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

#contact-form .form-control {
    font-size: 14px;
    border: 1px solid #eee;
    padding: 10px 15px;
}

#contact-form .form-control:focus {
    border-color: #f9461d;
}

.btn-contact-bg {
    background: #f9461d none repeat scroll 0 0 !important;
    border: 1px solid #f9461d !important;
    color: #fff !important;
    font-size: 14px;
    padding: 10px 30px !important;
    text-transform: capitalize;
    transition: all 0.2s ease 0s;
    border-radius: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #e1330b !important;
    border: 1px solid #e1330b !important;
    color: #fff;
}

a,
input {
    font-family: 'Open Sans', sans-serif
}


/*
* ----------------------------------------------------------------------------------------
* 13.END CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/

.google-map iframe {
    width: 100%;
}


/*
* ----------------------------------------------------------------------------------------
* 14.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/

.footer {
    padding: 50px 0;
}

.foot-logo a {
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.footer_social {
    left: 0;
    position: absolute;
    top: 126%;
    width: 45px;
    z-index: 999;
}

.footer-menu {
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

.footer-menu li a {
    color: #202020;
    transition: .5s;
}

.footer-menu li a:hover,
.footer-menu li a:focus {
    color: #f9461d;
}

.copyright p {
    color: #202020;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: capitalize;
}


/*
* ----------------------------------------------------------------------------------------
* 14.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 15.Tour Details DESIGN
* ----------------------------------------------------------------------------------------
*/

.page_banner {
    position: relative;
}

.banner_overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 180px 0 90px;
}

.banner_overlay .section-blog-title {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 500;
}

.book_now {
    margin-bottom: 30px;
}

.book_now h4 {
    margin-bottom: 25px;
}


/* @media (min-width: 992px)
{
 .modal {
    max-width: 1200px;
} 
} */


/*Start myproducts*/

.divforget {
    display: none;
}

.divforget .exit {
    margin: 0;
    text-align: left;
}

.divforget .exit i {
    color: #e64d3d;
    font-size: 18px;
    cursor: pointer;
    float: left;
    position: relative;
    top: -18px;
    left: -7px;
}

.divforget .note {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}

.divforget .note span {
    color: red;
}

.divforget .btn-info {
    color: #fff;
    background: #e64d3d;
    border: 0;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

#forgetpassword {
    display: block;
    color: #d9534f;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 20px;
    float: left;
}

.mynewfooter thead tr th,
.table-bordered td,
.table-bordered th {
    text-align: right
}

.mynewfooter table {
    border-collapse: collapse;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

#shoppingContainer {
    display: none;
}

.myproducts {
    margin: 50px 5px;
    margin-bottom: 30px;
}

.myproducts .getcontainer {
    padding: 10px;
    padding-bottom: 0;
    background-color: #e64d3d;
    padding: 40px;
    border-radius: 20px;
}

.myproducts .box {
    box-shadow: 0px 0px 13px 3px rgba(145, 145, 145, 0.64);
    border-radius: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    font-family: Cairo;
    -webkit-border-radius: 1px solid #ddd;
    -moz-border-radius: 1px solid #ddd;
    -ms-border-radius: 1px solid #ddd;
    -o-border-radius: 1px solid #ddd;
}

.myproducts h5 {
    font-weight: 100
}

.myproducts button {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    color: #e64d3d;
    background-color: #fff;
    border-color: #e64d3d;
    border-radius: 10px;
    padding: 5px;
    font-family: Cairo;
    font-size: 13px;
    display: inline-block;
}

.myproducts button i {
    margin-left: 5px;
}

.myproducts .box .nasba {
    display: block;
    text-align: right;
}

.myproducts .box .nasba span {
    text-align: right;
    padding: 5px;
    background: #fadd2a;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    color: #666;
    margin-right: 23px;
}

.myproducts .box img {
    display: inline-block;
    margin: 15px 0;
}

.myproducts .col-sm-3 {
    margin-bottom: 30px
}

.myproducts .box .btn-box {
    padding: 15px 0;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 30px;
}

.myproducts .box .btn-box button {
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    padding: 5px 30px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    cursor: pointer;
}

.myproducts .mycart {
    text-align: right;
    margin-bottom: 20px;
}

.myproducts .mycart {
    color: #fff;
    position: relative;
    line-height: 50px;
    height: 50px;
    width: 200px;
    font-size: 22px;
    text-align: right;
    cursor: pointer;
    border-bottom: 4px solid #fff;
}

.num-cart {
    background-color: #fff;
    position: absolute;
    line-height: 15px;
    top: 5px;
    color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.myproducts .mycart:hover {
    color: red;
    background-color: #fff;
}

.myproducts .mycart:hover .num-cart {
    color: #fff;
    background-color: red;
}


/*End myproducts*/

.btn-add {
    margin: 5px auto;
}

.btn-add button {
    background: #e64d3d;
    color: #fff;
    cursor: pointer;
}

#infoclient {
    display: none;
}

.request {
    height: 0;
    width: 370px;
    position: absolute;
    bottom: 85px;
    right: 0;
    background: #fff;
    padding: 15px;
    z-index: 2;
    box-shadow: 0px 0px 13px 3px rgba(145, 145, 145, 0.64);
    border-radius: 20px
}


/* .request .hide {
    text-align: left;
}

.request .hide button {
    background: none;
    border: 0;
    color: #e64d3d;
    font-size: 15px;
    cursor: pointer;
}

.request .hide i {
    font-size: 20px;
} */

.request .head .title {
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    background: #e64d3d none repeat scroll 0 0;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 8px 30px;
}

.request table {
    background: #efefef;
}

.request table thead {
    background: #efefef;
    text-align: center;
}

.request table thead tr th {
    font-size: 13px;
    text-align: center;
}

.request table th td,
.request table tr td {
    text-align: center;
    color: #333;
}

.requestbox {
    background-color: #fff!important;
    border: 0!important;
    font-size: 18px;
    height: 50px;
    text-align: center;
    transition: all 0.2s ease 0s;
    padding: 0 5px;
    z-index: 2;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    width: 370px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    color: #e64d3d;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.active-req {
    bottom: 11rem;
    right: -250px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.requestbox:hover {
    background-color: #e64d3d!important;
    color: #fff;
}

#show_requestbox:hover {
    background: #222;
    color: #fff;
}

.btn-home {
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    padding: 15px 35px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    cursor: pointer;
}

.request table .moredetails {
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    padding: 5px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.followReq {
    right: 2%;
    z-index: 9;
}

#clientinfo {
    display: none;
}

@media (max-width:575px) {
    .followReq {
        margin: 0 auto;
        right: 7%;
    }
    .request {
        width: 290px;
    }
    .requestbox {
        width: 290px;
    }
}

.navbar {
    background-color: #ef5350 !important
}

.navbar .navbar-brand {
    color: #fff;
    margin-left: 50px;
    transition: 0.5s
}

.navbar .navbar-brand:hover {
    transform: scale(0.8);
}

.nav {
    direction: ltr !important;
    margin-top: 50px;
}

.nav-tabs .nav-item a img {
    max-width: 150px
}

.nav-link {
    padding: 2px
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    border-bottom: 2px solid #e64d3d;
    width: 189px;
    padding-bottom: 15px;
}

.buy-new {
    border: 1px solid #e64d3d !important;
    border-radius: 5px !important;
    background-color: #eee;
}

.buy-head {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    padding: 1px;
    width: 130px;
}

#infoclient ::placeholder {
    color: #9f9f9f
}

#infoclient button {
    border-radius: 25px
}

#searchAndBuyContainer .montag {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}

.montag-1 {
    width: 35%;
}

.montag-2 {
    width: 80%;
}

#searchAndBuyContainer ::placeholder {
    color: #9f9f9f
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 100px
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn,
.input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.montag-footer {
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    padding: 5px 15px;
    font-family: cairo;
    width: 120px;
    font-weight: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mynewfooter table {
    margin-top: 20px;
}

@media (max-width: 575px) {
    .home-slider .hero-text {
        padding-top: 20px
    }
    .home-slider .col-form-label {
        width: 130px;
        padding: 0px;
        margin-bottom: 7px;
        margin-right: 17px;
    }
    .nav-tabs .nav-item a img {
        max-width: 70px
    }
}

.tabbable {
    margin: 30px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 30px;
}

.nav-tabs {
    margin: 0;
}

.tab-content {
    padding: 30px;
    height: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 1px solid #ddd;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
    border: 1px solid #ddd;
    border-bottom-color: red !important;
    cursor: default;
}

.nav-tabs>li {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.basket {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #d0d0d0
}

.img-fluid {
    border-radius: 20px;
    width: 500px;
}

.detail {
    background-color: white;
    text-align: right;
    margin: auto;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.08);
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
}

.detail h5 {
    display: inline-block;
    margin-left: 40px;
}

.dot {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.dot_red {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    border: 1.5px solid #fff;
}

.dot_yellow {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: yellow;
    border: 1.5px solid #fff;
}

.dot_black {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid #fff;
}

.dot_blue {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: blue;
    border: 1.5px solid #fff;
}

.dot_st {
    height: 20px;
    width: 20px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: #ff00d7;
}

.play {
    margin-right: 15px
}

.play li h6 {
    font-family: Cairo;
    font-weight: 200
}

.details {
    background-color: white;
    text-align: right;
    margin: auto;
    max-width: 80%;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.08);
    box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 10px 10px 10px 0;
}

.details img {
    width: 70px;
    border-radius: 10px;
}

.details .checked {
    color: orange;
}

.dir_table {
    margin-top: 22px;
}

.dir_table th {
    text-align: center;
    border-bottom: 1px solid #eceeef;
}

.dir_table tbody tr th,
.dir_table tbody tr td {
    text-align: center;
    border-bottom: 1px solid #eceeef;
}

.table thead th {
    border-bottom: 1px solid #eceeef;
}

.modal-dialog {
    margin: 0!important
}

.modal {
    width: 100%;
    height: 100%;
}

.modal-dialog {
    position: relative;
    top: 50%;
    left: 30%;
    max-width: 85% !important;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 0!important
    }
}

.modal.show .modal-dialog {
    margin-left: 0;
}

.dir_table td,
.dir_table th {
    direction: rtl;
    font-weight: 200;
    border-top: 0px
}

.modal-body {
    padding: 0px
}

.modal-content {
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 0!important
}

.ntitles {
    color: #e64d3d;
    font-weight: bold;
    font-size: 17px;
}

.modal-content {
    width: 90%;
}

.oneproduct .from-control {
    background-color: #eeeeee;
}

.signin {
    padding-top: 25px;
    background: white;
    border-radius: 21px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.signinHead {
    background-color: #e64d3d!important;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #fff
}

.signinHead.rounded {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#singnInContainer:after {
    content: '';
    position: absolute;
    top: -5%;
    left: 50%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 21px #ffffff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

#singnUpContainer:after {
    content: '';
    position: absolute;
    top: -4%;
    right: 46px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 21px #ffffff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

#singnUpContainer {
    margin-top: 2.6rem;
    z-index: 999;
}

#singnInContainer {
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
}

#resetPass {
    background-color: #fff;
}

#resetPass h4 {
    font-size: 14px;
    font-weight: 400;
    color: #e64d3d;
}

#hideReset {
    color: #e64d3d;
    position: relative;
    padding: 2px 5px 0 0;
    text-align: right!important;
}

#resetPass .form-control {
    border-right: 1px soild #e64d3d!important;
    border-left: 1px soild #e64d3d!important;
}

#resetPass .btn-danger {
    background-color: #e64d3d;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

@media(max-width:575px) {
    .hero-text {
        position: relative;
        top: 1rem;
        padding-left: 8%;
    }
    #singnUpContainer {
        margin-top: 2rem;
    }
}

.red {
    background-color: #e64d3d
}

* {
    direction: rtl !important;
}

.square {
    height: 35px;
    width: 120px;
    background-color: #e64d3d;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
}

.service {
    -webkit-box-shadow: 0px 0px 13px 3px rgba(145, 145, 145, 0.64);
    -moz-box-shadow: 0px 0px 13px 3px rgba(145, 145, 145, 0.64);
    box-shadow: 0px 0px 13px 3px rgba(145, 145, 145, 0.64);
    cursor: pointer;
}

.why {
    background: white;
    padding: 25px 25px;
    position: relative;
    top: -45px;
    margin-top: 20px;
    border-radius: 30px;
}

.why h1 {
    color: orangered
}

.myproducts {
    position: relative!important;
    overflow: hidden;
}

.trying {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #f2f2f2;
    border-radius: 20px;
    z-index: 8;
}

.trying-two {
    position: absolute;
    width: 109%;
    height: 100%;
    top: -4px;
    left: 0;
    display: none;
    right: -17px;
    background-color: #f2f2f2;
    border-radius: 20px;
    z-index: 8;
}

#hideTrying,
#hideTryingTwo,
#hideTryingThree,
#closefollowrequest {
    background-color: transparent;
    color: #e64d3d;
    border: 0;
    outline: #fff;
}

#hideTrying:focus,
#hideTryingTwo:focus,
#hideTryingThree:focus {
    outline: #fff;
}

.topcontrol {
    z-index: 99999!important;
}

.header-head {
    /*background: url(../img/bg/hhhhhhhhh.png) no-repeat 100% 100%;*/
    background-size: 100% 100% !important;
}

.header-head {
    //height: 570px;
}

#addproduct {
    position: relative;
}

.montag {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}

.montag:hover {
    border: 2px solid #e64d3d;
    border-radius: 4px;
    background-color: #e64d3d;
    border-color: #e64d3d;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}

.pr-10 {
    padding-right: 22%;
}

.pr-15 {
    padding-right: 32%;
}

.pr-20 {
    padding-right: 29%;
}

.pr-4rem {
    padding-right: 4rem
}

.pr-5rem {
    padding-right: 5rem
}

.tx-ident {
    text-indent: 15%;
}

.tx-ident-20 {
    text-indent: 20%;
}

.tx-ident-25 {
    text-indent: 25%;
}

.tx-ident-30 {
    text-indent: 30%;
}

.tx-ident-35 {
    text-indent: 35%;
}

.tx-ident-40 {
    text-indent: 40%;
}

::placeholder {
    color: rgb(99, 96, 96)!important;
}

.productAdd {
    font-family: Cairo;
    font-weight: 200;
    cursor: pointer;
    text-align: center
}

.productAdd.active {
    padding: 5px;
    font-size: 1.8rem;
    border-bottom: 2.55px solid #e64d3d;
}

.dot.active {
    width: 40px;
    height: 40px;
    border-bottom: 2.55px solid #e64d3d;
}

.dot span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media(max-width:575px) {
    .hero-text h2 {
        margin: 30px 0 20px 0;
        font-size: 2.2rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .tabbable {
        margin: 35px 0 0 0;
    }
    .tab-pane .container h4 {
        margin: 15px 2.5px 2.5px;
        font-size: 1.001rem
    }
    .btn-home-bg {
        font-size: 14px;
        margin-right: 5px;
    }
    .details {
        padding: 20px;
    }
}

.details {
    max-width: 95%;
}

.complete-buy {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 145, 133, 0.548);
    z-index: 9999;
}

.complete-buy .complete-content {
    box-shadow: 0 6px 25px #e64e3da9;
    min-width: 60%;
    height: auto;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.complete-buy .complete-content #hide-complete {
    position: relative;
    right: 65px;
    top: 20px;
    color: #e64d3d;
}

.complete-buy .complete-content .com-p {
    width: 90%;
    margin: 20px auto;
}

.complete-buy .complete-content .button-in-com {
    margin: 40px;
    position: relative;
}
#singnInBtnExit
{
    margin-right: 5px;
    margin-top: 2px;
}

@media (max-width: 575px) {
    .complete-buy .complete-content {
        border-radius: 22px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
    }
    .complete-buy .complete-content #hide-complete {
        position: relative;
        right: 65px;
        top: 20px;
        color: #e64d3d;
    }
    .complete-buy .complete-content .com-p {
        width: 90%;
        margin: 20px auto;
        font-size: 16px;
        padding-bottom: 0;
    }
    .complete-buy .complete-content .button-in-com {
        margin: 30px auto;
        position: relative;
    }
    .complete-buy .complete-content .button-in-com a {
        font-size: 14px;
        padding: 10px;
    }
    .nav-tabs .nav-item a img {
        max-width: 90px;
    }
    .header-head {
       /* background: url(../img/bg-vertical.png) no-repeat 100% 100%;*/
        background-size: 100% 100%;
    }
}

.add_to,
.delet_from {
    background-color: #e64d3d!important;
    font-family: Cairo!important;
    border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -ms-border-radius: 15px!important;
    -o-border-radius: 15px!important;
    padding: 8px!important;
    color: #fff !important;
    font-size: 12px!important;
}

@media (max-width: 767px) {
    .add_to,
    .delet_from {
        padding: 10px !important;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .nameProduct {
        font-size: 12px;
    }
    .play li h6 {
        font-size: 14px;
        font-family: Cairo;
        font-weight: 200
    }
    .complete-buy .complete-content {
        min-width: 90%;
    }
}

footer {
    padding: 15px;
    height: 85px;
    background-color: #fff;
}

.social-media i {
    color: #e64d3d;
    margin-right: 5px;
}

@media (max-width:321px) {
    #singnInContainer:after {
        left: 25%;
    }
}

.draggable {
    max-height: 670px!important;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media (max-width:575px) {
    .header-head {
        //height: 470px!important;
    }
    .hero-text {
        top: 18.49rem;
        text-align: center;
    }
    .signin {
        background: white;
        border-radius: 21px;
        padding: 10px;
    }
    #singnUpContainer {
        margin-top: 0.4rem;
    }
    .nav-link.active {
        border: 1px solid #333;
    }
    .tab-content {
        border: 0;
    }
    .why {
        padding: 15px 15px;
        margin: 8px;
        margin-top: 20px;
        border-top: 1px solid #4444;
        /* box-shadow: 0px -3px 10px #ffcccf; */
    }
    .padding00 {
        padding-top: 40px!important;
    }
    .myproducts .getcontainer {
        padding: 10px;
    }
    .myproducts .col-sm-3 {
        margin-bottom: 5px;
    }
    .detail h5 {
        margin-left: 12px;
    }
    .dot.active {
        width: 30px;
        height: 30px;
        border-bottom: 1.55px solid #e64d3d;
    }
    .form-group {
        margin-bottom: 8px;
    }
}

@media (max-height:481px) {
    .hero-text {
        top: -0.51rem;
    }
    #singnUpContainer {
        margin-top: 0.6rem;
    }
    .signin {
        padding: 8px
    }
    .form-group {
        margin-bottom: 0.4rem;
    }
}

.tx-ident {
    text-indent: 15%;
}

.tx-ident-20 {
    text-indent: 2rem;
}

.tx-ident-25 {
    text-indent: 2.5rem;
}

.tx-ident-30 {
    text-indent: 5rem;
}

.tx-ident-35 {
    text-indent: 3.5rem;
}

.tx-ident-40 {
    //text-indent: 7rem;
}
.tx-ident-45
{
    text-indent: 5.2rem;
}
.tx-ident-2_45
{
    text-indent: 3.5rem;
}
.tx-ident-3_45
{
    text-indent: 5.5rem; 
}
.tx-ident-4_45
{
    text-indent: 7rem;
}
.tabbable
{
    border-bottom: 0px solid #ddd !important;
}
.tab-content
{
    border-bottom: 1px solid #ddd !important;
}

@media (min-width:767px) {
    .detail h5 {
        display: inline-block;
        margin-left: 15px;
    }
    .dot.active {
        width: 30px;
        height: 30px;
        border-bottom: 2.55px solid #e64d3d;
    }
}

@media (min-width:768px) {
    .btn-home-bg {
        padding: 10px;
        font-size: 1.2rem;
    }
    .col-form-label {
        padding: 0px;
        font-size: 0.8rem;
        margin-bottom: 2px;
        margin-right: 0.01px;
    }
    .col-form-label+.col-sm-8 {
        padding-left: 0!important;
    }
    form .login {
        padding: 8px;
        border-radius: 15px;
        font-size: 0.8rem
    }
    .signin,
    #resetPass {
        padding: 10px!important
    }
}

@media (max-width:767px) {
    .btn-home-bg {
        padding: 8px 8px;
        font-size: 16px;
    }
    .request {
        padding: 5px
    }
    #closefollowrequest {
        padding: 0.1rem
    }
    .request table thead tr th {
        font-size: 10px;
        padding: 5px
    }
    .table th {
        padding: 0.45rem;
    }
    .request table tr td {
        padding: 5px
    }
    .requestbox {
        width: 150px;
        font-size: 14px;
    }
    .myproducts .getcontainer {
        padding: 10px 10px 20px;
        border-radius: 5px;
        max-width: 87%;
    }
    .myproducts .mycart {
        height: 50px;
        width: 150px;
        font-size: 18px;
        border-bottom: 2.5px solid #fff;
    }
    .myproducts .col-4 h5 {
        font-size: 1.022rem;
        margin-bottom: 4px;
        margin-top: 15px;
    }
    .nasba {
        margin-bottom: 5px;
    }
    .nasba span {
        margin-right: 2px!important;
    }
    .myproducts .box img {
        display: inline-block;
        margin: 5px 0;
        width: 95px!important;
    }
    .btn-box button {
        font-size: 0.8rem;
    }
    .btn-box button:nth-of-type(1) {
        width: 100%;
        cursor: pointer;
        font-size: .4rem;
        text-align: right;
        padding-right: 5px;
        border-radius: .5rem;
    }
    .delet_from,
    .add_to {
        padding: 5px !important;
        font-size: 0.7rem!important;
        margin-bottom: 10px
    }
    .col-form-label {
        padding: 0px;
        font-size: 0.8rem;
        margin-bottom: 2px;
        margin-right: 0.01px;
    }
    .col-form-label+.col-sm-8 {
        padding-left: 0!important;
    }
    form .login {
        padding: 8px;
        border-radius: 15px;
        font-size: 0.8rem
    }
    .signin,
    #resetPass {
        padding: 10px!important
    }
    .btn-box button {
        font-weight: bolder;
        padding: 8px 1px;
        cursor: pointer;
    }
    .myproducts button i {
        margin-left: 1px;
    }
    .is-small {
        font-size: 0.8rem;
        font-weight: bolder
    }
}

@media (max-width:575px) {
    .header-head {
       /* height: 580px!important;*/
       background-size: 100% 100% !important;
       //background-size: cover !important;
       background-position: top left !important;
    }
    .btn-home-bg {
        padding: 8px 8px;
        font-size: 1rem;
    }
    #singnInContainer:after {
        left: 3rem!important;
    }
    h4,
    #resetPass .btn-danger,
    #openReset {
        font-size: 0.8rem!important
    }
    .form-label.login {
        padding: 5px;
        font-size: 12px;
    }
    .col-form-label {
        font-size: 12px;
        margin-bottom: 2px;
        padding: 2px;
        margin-right: 5px;
    }
    .myproducts .box {
        margin-bottom: 7.5px;
        border-radius: 3px;
    }
    .myproducts .col-4 h5 {
        font-size: 0.89rem;
        margin-bottom: 4px;
        margin-top: 15px;
    }
    .myproducts .box img {
        display: inline-block;
        margin: 5px 0;
        width: 60px!important;
    }
    .btn-box button {
        font-size: 6px;
        border-radius: 11px;
        padding-left: 5px;
        padding-right: 4px;
    }
    .col-form-label {
        width: auto;
        padding: 0px;
        font-size: 0.46968899rem;
        margin-bottom: 2px;
        margin-right: 5px;
    }
    .p-custom {
        font-size: .8rem;
        line-height: 1.5rem;
    }
    .montag-footer {
        font-size: .8rem;
        width: 62%;
    }
    .col-text-custom {
        padding-top: 60px;
        width: 50%;
        padding-right: 0;
    }
    .col-text-custom-center {
        padding-right: 1rem;
        padding-left: 0;
    }
    .col-image {
        width: 50%;
        padding-left: 0;
    }
}

.topcontrol_angel {
    background: #e64d3d none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    height: 39px;
    line-height: 36px;
    opacity: 1;
    position: fixed;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 39px;
}

.custom-top-control {
    right: 1px !important;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 94%;
}

@media (max-width:575px) {
    .slide_overlay
    {
        //height: 340px !important;
    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 105%;
        width: 105%;
        margin-right: 0;
        padding-right: 0;
    }
    .tabbable {
        margin-top: -9rem;
        background: white;
        max-width: 100%;
        padding-top: .1rem;
        padding-right: 2rem;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 30px;
    }
    .extra-added-container {
        background: #f3685d;
        height: 17rem;
    }
    #singnInContainer {
        margin-top: 1rem;
        margin-right: 0;
        position: relative;
        max-width: 100%;
        text-align: right;
    }
    #singnInContainer:after {
        left: 8rem!important;
    }
    .tabbable-sign-in {
        margin-top: 12rem;
    }
    .tabbable-sign-up {
        margin-top: 17rem;
    }
    #singnUpContainer {
        margin-top: 19.4rem;
        max-width: 100%;
    }
    #singnUpContainer:after {
        right: 101px;
    }
    .col-text-custom-center {
        padding-right: 2rem;
        padding-left: 0;
    }
    img {
        max-width: 81%;
    }
    .myproducts {
        position: relative!important;
        overflow: hidden;
        width: 115%;
        margin-right: -1.2rem;
    }
    #shoppingContainer {
        width: 115%;
    }
    .btn-box button:nth-of-type(1) {
        font-size: .6rem;
    }
    .myproducts .getcontainer {
        padding: 10px 10px 20px;
        border-radius: 26px;
        max-width: 87%;
    }
    .p-custom-right-left-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .col-form-label {
        font-size: 12px;
    }
    .trying {
        width: 87%;
        max-width: 87%;
    }
    #resetPass {
        width: 100%;
        max-width: 100%;
    }
    #singnInBtnExit
    {
          margin-right: -9px;
          margin-top: 2px;
    }
    .foot-logo
    {
          margin-top: 30px;
    }
}

.img-fluid {
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.trying-two {
    height: 104%;
}
/*******************************************************************************/
/**
  * mohamed update css
**/
.input-container
{
    display: block;
    width: 100%;
}
.label_registration
{
  margin: 9px;
  padding: 2px;
  margin-right: 21px;
  color: rgb(242, 110, 100);
  background-color: white;
  border: 1px solid white;
  font-size: 16px;
}
.form-check-input
{
    margin-top: 21px;
}
.button_registration , .button_registration:hover 
{
    background-color: #E64D3D;
    border-color: #E64D3D;
    text-align: right;
    font-family: Cairo;
}
.btn-link
{
      color: rgb(244, 94, 84);
}
.fa-2x
{
    font-size: 1.5em;
}
.cointainer_input_register
{
  padding: 10px;
}
.cointainer_input_register>label 
{
    background-color: white;
    color: rgb(242, 110, 100);
    font-size: 16px;
    background-color: white;
    border: 1px solid white;
}
.btn-link
{
     font-family: Cairo;
}
#singnUpContainer
{
    //margin-top: 1rem;
}
.btn-outline-secondary
{
  padding-left: 26px !important;
  padding-bottom: 8px !important;
}
.buy-new
{
    padding-right: 40px;
}
#chosefile
{
    padding-right: 2px;
}
.error_alert
{
    padding: 10px;
}
.carousel-item
{
    height: 400px;
}
.myproducts .box
{
    padding: 10px;
}
.price_front
{
    float: left;
    text-align: center !important;
    font-size: 20px !important;
}
.button_details
{
  background-color: white;
  padding: 5px;
  border-radius: 12px;
  font-size: 16px;
  color: rgb(230, 77, 61);
}
.fa-clipboard
{
    margin-left: 13px;
}
.trying-two
{
    display: block;
    position: relative;
    background-color: white;
    width: auto;
    font-family: cairo;
}
.container-slider
{
    display: inline-block;
    float: left;
}
.container-single-text
{
    display: inline-block;
    float: right;
    font-family: cairo;
}
.nameProduct > h3
{
  line-height: 2em !important;
  font-size: 30px;
  font-family: cairo;
}
.show_price
{
     margin: 13px;
    font-size: 21px;
    font-family: cairo;
}
.play>h6
{
      font-size: 16px;
      font-weight: normal;
      margin-top: 27px;
      font-family: cairo;
}
.label_quantity
{
     background-color: white;
  color: black;
  border: 0px solid white;
  padding: 5px;
}
#shoppingContainer , .tab-content>.tab-pane
{
    display:block;
}
#cartimage>img 
{
  width: 80px !important;
  margin: 30px;
}
.trying
{
    position: relative;
    display: block !important;
}
.container_total_amount
{
    display: inline-block;
    float: left;
}
#shoppingContainer, .tab-content>.tab-pane {
  display: block;
  position: relative;
  margin-top: 25px;
}
.btn-home-logout
{
    float: left;
}
.btn-home-myorders
{
    padding-left: 100px;
    padding-right: 100px;
}
.container-my-orders
{
    width: 50%;
    float: right;
    display: inline-block;
}
.container-orders-table
{

  width: 80%;
  background-color: white;
  margin-bottom: 21px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px lightgray;
  height: 350px;
  overflow-y: auto;
  direction: ltr !important;
}
.table-striped
{
    font-size: 15px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 6px 1px #eee;
    border-radius: 10% 10% 10% 10%;
}
th , td ,tr , td
{
    text-align: right;
    background-color: #eee;
    background-color: #FCFCFF;
} 
th 
{
    background-color: rgb(242, 109, 98);
    color: white;

}

.th_table
{
    background-color: white;
}
.th_table>a.button_title
{
    background-color: rgb(242, 113, 101) !important ;
    color: white;
}
.close_button
{
    box-shadow: 0px 0px 6px 1px lightgray;
    float: left;
    background-color: #449d44 !important;
}
#resetPass
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    z-index: 8;
}
.lable_3_tab
{
      padding-left: 2px !important;
      font-size: 12px !important;
}
.input_3_tab
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.link_back
{
  font-size: 18px;
  color: rgb(230, 77, 61);
  font-family: cairo;
  line-height: 3em;
  direction: rtl !important;
}
/********************************************************************************/
@media(max-width: 800px){
    .price_front
    {
        font-size: 10px !important;
        padding: 1px !important;
        padding-right: 2px !important;
        padding-left: 2px !important;
    }
    .button_details
    {
        background-color: white;
        padding: 6px;
        border-radius: 12px;
        font-size: 10px;
        color: rgb(230, 77, 61);
    }
    img
    {
        max-width: 100% !important;
    }
    .trying {
       width: 100%;
       max-width: 100%;
    }
    .container_total_amount>h3 
    {
        font-size: 12px !important;
    }
    #container-content-page
    {
        padding-left: 1px !important;
        padding-right: 1px !important;

    }
    .trying-two
    {
        right: 0px !important;
        left: 0px !important;
    }
    .hero-text h2
    {
        margin: 5px !important;
        font-size: 1.5rem !important;

    }
    .container-my-orders
    {
        width: 100% !important;
    }
    .btn-home-logout
    {
        float: none !important;
    }
    .container-orders-table
    {
        width: 100% !important;
    }
    .table-striped {
       font-size: 11px;
    }
    html , body
    {
        overflow-x: hidden;
    }
}

