#style-switcher h2 a { background: #fff none repeat scroll 0 0 }
#style-switcher h2 a i {color: #f9461d;}
.status-mes{
	border-top: 8px solid #f9461d;
	border-right: 8px solid #f9461d;
	border-bottom: 8px solid #f9461d;	
}
.navbar-light .navbar-nav > li a:focus, 
.navbar-light .navbar-nav > li a:hover,
.home-slider .slick-prev:before, 
.home-slider .slick-next:before,
.single-choose i,
.single-project-complete h2,
.testimonial .post,
.tour_duration,
.footer-menu li a:hover, 
.footer-menu li a:focus,
.single_blog h4 a:hover {
	color: #f9461d !important;
}

.btn-home-bg,
.gallery_enlarge_icon,
.pack_image .btn-bg{
	background-color: #e64d3d;
	border-color: #e64d3d;
}

.btn-contact-bg{
	background-color: #f9461d !important;
	border-color: #f9461d !important;
}
.form-control:focus{
	border-color: #e64d3d!important;
}
.section-title span,
.single-deal figure p a,
.pack_price,
.single_gallery h4,
.post_date,
.contact_address i,
.topcontrol,
.owl-theme .owl-controls .owl-buttons div, 
.slick-prev.slick-arrow, 
.slick-next.slick-arrow,
.service .icon,
.section-title span:before,
.section-title span:after{
	background-color: #e64d3d ;
}
.service .icon{
	text-shadow: #e64d3d 1px 1px, #e64d3d 2px 2px, #e64d3d 3px 3px, #e64d3d 4px 4px, #e64d3d 5px 5px, #e64d3d 6px 6px, #e64d3d 7px 7px, #e64d3d 8px 8px, #e64d3d 9px 9px, #e64d3d 10px 10px, #e64d3d 11px 11px, #e64d3d 12px 12px, #e64d3d 13px 13px, #e64d3d 14px 14px, #e64d3d 15px 15px, #e64d3d 16px 16px, #e64d3d 17px 17px, #e64d3d 18px 18px, #e64d3d 19px 19px, #e64d3d 20px 20px, #e64d3d 21px 21px, #e64d3d 22px 22px, #e64d3d 23px 23px, #e64d3d 24px 24px, #e64d3d 25px 25px, #e64d3d 26px 26px, #e64d3d 27px 27px, #e64d3d 28px 28px, #e64d3d 29px 29px, #e64d3d 30px 30px, #e64d3d 31px 31px, #e64d3d 32px 32px, #e64d3d 33px 33px, #e64d3d 34px 34px, #e64d3d 35px 35px, #e64d3d 36px 36px, #e64d3d 37px 37px, #e64d3d 38px 38px, #e64d3d 39px 39px, #e64d3d 40px 40px, #e64d3d 41px 41px, #e64d3d 42px 42px, #e64d3d 43px 43px, #e64d3d 44px 44px, #e64d3d 45px 45px, #e64d3d 46px 46px, #e64d3d 47px 47px, #e64d3d 48px 48px, #e64d3d 49px 49px, #e64d3d 50px 50px, #e64d3d 51px 51px, #e64d3d 52px 52px, #e64d3d 53px 53px, #e64d3d 54px 54px, #e64d3d 55px 55px, #e64d3d 56px 56px, #e64d3d 57px 57px, #e64d3d 58px 58px, #e64d3d 59px 59px, #e64d3d 60px 60px, #e64d3d 61px 61px, #e64d3d 62px 62px, #e64d3d 63px 63px, #e64d3d 64px 64px, #e64d3d 65px 65px, #e64d3d 66px 66px, #e64d3d 67px 67px, #e64d3d 68px 68px, #e64d3d 69px 69px, #e64d3d 70px 70px, #e64d3d 71px 71px, #e64d3d 72px 72px, #e64d3d 73px 73px, #e64d3d 74px 74px, #e64d3d 75px 75px, #e64d3d 76px 76px, #e64d3d 77px 77px, #e64d3d 78px 78px, #e64d3d 79px 79px, #e64d3d 80px 80px, #e64d3d 81px 81px, #e64d3d 82px 82px, #e64d3d 83px 83px, #e64d3d 84px 84px, #e64d3d 85px 85px, #e64d3d 86px 86px, #e64d3d 87px 87px, #e64d3d 88px 88px, #e64d3d 89px 89px, #e64d3d 90px 90px, #e64d3d 91px 91px, #e64d3d 92px 92px, #e64d3d 93px 93px, #e64d3d 94px 94px, #e64d3d 95px 95px, #e64d3d 96px 96px, #e64d3d 97px 97px, #e64d3d 98px 98px, #e64d3d 99px 99px, #e64d3d 40px 100px;	
}
.btn-bg:hover, 
.btn-bg:focus, 
.single-deal figure p a:hover, 
.single-deal figure p a:focus,
.gallery_enlarge_icon:hover,
.btn-contact-bg:hover,
.btn-contact-bg:focus {
	background: #e1330b !important;
	border-color: #e1330b !important;
}